

.logo{
  display: inline-block;
  max-width: 10rem;
  margin-top: 1.5rem;

  @media screen and (min-width: $desktop-breakpoint){
    margin-top: 0;
  }

    img{
      max-width: 100%;
      height: auto;
    }
}
