.container{
  position: relative;
  max-width: #{$max-width};
  margin: auto;
  padding: 1rem;
  overflow: hidden;

  @media screen and (min-width: $desktop-breakpoint){
    padding: 2rem;
  }
}

main{
  min-height: 60%;

  .page-header{
    margin-bottom: 2rem;
    text-align: center;

    p{
      max-width: 100%;
    }
  }

  p{
    max-width: 60%;
  }

  aside{
    margin-top: 4rem;
  }
}
