$max-width: 64rem;

$body-bg: #fff;
$body-font-color: #333;
$body-font-family: 'Lato', 'Avenir', sans-serif;

$primary-color: #0074A0; // teal
$secondary-color: #0074A0; // teal
$alert-color: #EE3E2C; // red
$success-color: #43AC6A; // sea foam
$warning-color: #E0C300; // mustard
$info-color: #a0d3e8; //

$white: #fff;

$header-font-color: $primary-color;
$header-font-family: 'Lato', 'Avenir', sans-serif;

$desktop-breakpoint: 50rem;
